body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;    
    background-image:url('./images/mountains_lake.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* Set box-sizing for all elements */
*, *:before, *:after {
    box-sizing: inherit;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightseagreen;   
    padding: 5px; 
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

nav #logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

nav #searchBox {
    display: inline;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 45px;
    justify-content: center;
    padding: 8px;
    border-radius: 30px; 
} 

nav #destinationInput {
    width: 250px;
    height: 27px;
    color: black;
    font-size: 16px;
    font-weight: bold; 
    border-radius: 20px;
    border: none
}

nav #destinationInput:focus {
    outline: none;
}

nav #destinationInput:hover {
    box-shadow: 0 0 10px darkblue;    
}

nav #destinationInput:focus {
    box-shadow: 0 0 10px darkblue;    
}

nav #btnSearch {
    width: auto;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color:darkcyan;
}

nav #btnClear {
    width: auto;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    background-color:darkcyan;
}

#btnSearch:hover {
    background-color: lightskyblue;
    font-weight: bold;
}

#btnClear:hover {
    background-color: lightskyblue;
    font-weight: bold;    
}

nav img {
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

nav h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

nav ul {    
    list-style-type: none;
    padding-right: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:hover {
    text-shadow: 0 0 10px darkblue;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#mainSectionIntroTitleAndDesc {
    width: 90%;
    justify-content: center;
    padding: 20px;
    background-color: lightcyan;
    opacity: 90%;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
}

#mainSectionTitle {
    font-family: Times, 'Times New Roman', serif;
    font-size: 35px;
    font-style: italic;
    color: darkcyan;
    opacity: 100%;
}

#mainSectionIntroTitleAndDesc h4 {
    font-family: Times, 'Times New Roman', serif;
    font-size: 23px;
    font-style: italic;
    color: darkcyan;
}

#btnBookNow {
    color: lightcyan;
    background-color: darkcyan;    
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border-color: powderblue;
    border-width: 5px;
    margin-top: 15px;
}

#btnBookNow:hover {
    color: darkcyan;
    background-color: powderblue;
}

/* Social Media icons */
.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia hr {
    margin-top: 30px;
    margin-bottom: 50px;
}

.socialMedia img {
    min-width: 30px;
    max-width: 50px;
    min-height: 30px;
    max-height: 50px;
    padding: 10px;
}

/* Contact Form */
#mainSectionContactInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    align-items: center;
    background-color: lightcyan;
    opacity: 95%;
    border-radius: 20px;
    padding: 15px;
}

#mainSectionContactInfo h2, p {
    color: darkcyan;
    margin-left: 20px;
}

#mainSectionContactInfo h2 {
    font-size: 40px;
}

#mainSectionContactInfo p {    
    font-size: 25px;
    font-style: italic;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    background-color: lightblue;
    border-radius: 20px;
    padding: 15px;
}

#contactForm div {
    display: flex;
    flex-direction: column;
    text-align: center;  
    color: darkcyan;
    font-weight: bold;
    font-size: 20px;
    margin-top: 7px; 
}

#contactForm #name, #email, #message {
    width: 450px;
    max-width: 450px;
    min-width: 300px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}

#contactForm #message {    
    height: 180px;
    resize: none;
}

/* contact submit button */
#contactForm button {    
    color: lightcyan;
    background-color: darkcyan;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;    
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

#contactForm button:hover {
    color: darkcyan;
    background-color: lightcyan;
}

/* About Us */
#mainSectionAboutUs {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    border-radius: 10px;
    opacity: 95%;
    margin-left: 20px;
    margin-top: 30px;
    width: 90%;
}

#mainSectionAboutUs h2 {
    color: darkcyan;
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
}

#mainSectionAboutUs p {
    color: darkcyan;
    font-style: italic;
    margin: 20px;
}

#teamPersonnel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teamPersonnel div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: lightseagreen;
    border-radius: 20px;
    width: 230px;
    color: white;
    padding: 5px;
}

#teamPersonnel img {
    width: 100px;
    height: 90px;
    border-radius: 10px;
}

#teamPersonnel button {
    color: darkcyan;
    background-color: lightcyan;
    font-weight: bold;
    height: 28px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
}

#teamPersonnel button:hover {
    color: lightcyan;
    background-color: darkcyan;
}

#positionDescriptionDiv {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: lightcyan;
    border-radius: 20px;
    width: auto;
    color: darkcyan;
    padding: 3px;
}

/* Search Results */
#destinationSearchResults {
    display: auto;
    justify-content: center;
    text-align: center;
    background-color: lightcyan;
    overflow-y: scroll;
    scrollbar-color: skyblue lightcyan;
    scrollbar-width: thin;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    max-height: 670px;
    border-radius: 10px;
}

#destinationSearchResults h2 {
    color: darkblue;
    margin: 3px;
    font-size: 25px;
}

.destinationContainerDiv {
    position: fixed;
    color: darkblue;
}

/* Search Results destination cards */
.destination {
    background-color:lightblue;
    width: 90%;
    max-width: 365px;
    height: auto;
    margin: 10px auto;
    padding-bottom: 10px;
    opacity: 80%;
    border-radius: 10px;
    align-self: center;
}

.destination img {
    width: 100%;
    max-width: 365px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    padding: 0px;
}

.destination h4 {
    justify-self: center;
    color: darkblue;
    font-size: 18px;
    margin: 4px;
    padding: 0px;
}

.destination p {
    justify-self: left;
    color: darkblue;
    font-size: 13px;
    font-style: italic;
    margin: 4px;
    padding: 0px;
}

/* Visit button */
.destination button {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    width: 55px;
    height: 25px;
    align-self: center;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
}

.destination button:hover {
    color: darkblue;
    background-color: lightcyan;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    #contactForm #name, #email, #message {
        width: 300px;
    }

}

@media (min-width: 600px) and (max-width: 992px){
    #contactForm #name, #email, #message {
        width: 400px;
    }
}

@media (max-width: 992px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav #logo {
        display: flex;
        flex-direction: row;
        align-items: center;        
    }
    nav #searchBox {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav #destinationInput, #btnSearch {
        margin-right: 5px;
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 50px;
    }
    
    nav div {
        justify-content: space-between;
        padding-right: 10px;
    }
    
    nav #searchBox {
        display: inline;
        flex-direction: row;
        width: 400px;
    }
    
    nav #destinationInput {
        margin-bottom: 0;
    }
    
    nav ul {
        flex-direction: row;
        padding-right: 10px;
    }
    
    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    main {
        flex-direction: row;
        align-items: flex-start;
    }
    
    #mainSectionIntroTitleAndDesc {
        width: 40%;
        text-align: left;
        margin-left: 20px;
    }
    
    #mainSectionContactInfo {
        flex-direction: row;
        margin-left: 100px;
        height: 500px;
    }
    
    #teamPersonnel {
        flex-direction: row;
    }
    
    #destinationSearchResults {
        margin-left: 70px;
        margin-right: 10px;
    }

    #contactForm #name, #email, #message {
        width: 450px;
    }
}

@media (min-width: 1024px) {
    #mainSectionIntroTitleAndDesc {
        width: 40%;
        height: 40%;
    }
    
    #contactForm {
        height: 430px;
    }
}
